<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Vandring - @ViewBag.Title</title>
  @Styles.Render("~/bundles/css/style")
</head>
<body>
  <div class="row">
    <div class="col-md-11">
      <h1>Vandring</h1>
    </div>
    <div class="col-md-1">
      @if (User.Identity.IsAuthenticated)
      {
          @Html.ActionLink("Logout", "Logout", "Auth")
      }
    </div>
  </div>
  <div class="row">
    @RenderBody()
  </div>
  @Scripts.Render("~/bundles/js/jquery")
  @Scripts.Render("~/bundles/js/bootstrap")
</body>
</html>
