<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Vandring - @ViewBag.Title</title>
  @Styles.Render("~/bundles/css/style")
</head>
<body>
  <div>
    <h1>Hello world from template</h1>
    @RenderBody()
  </div>
  @Scripts.Render("~/bundles/js/jquery")
  @Scripts.Render("~/bundles/js/bootstrap")
</body>
</html>
